---
import Base from "@/layouts/Base.astro";
import Section from "@/components/Section.vue";
import PublicationCard from "@/components/PublicationCard.vue";
import { AppConfig } from "@/utils/AppConfig.js";

import publications from "@/config/publications.js";

const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = "Publications";
const title = titleBase + titleSuffix;
const description = "All my academic publications";
---

<Base head={{ title, description }}>
  <Section
    title="Publications"
    subtitle="The list of my publications"
    client:load
  >
    <div class="flex flex-col gap-4">
      {publications.map((publication) => (
        <PublicationCard publication={publication} client:visible />
      ))}
    </div>
  </Section>
</Base>
