---
import Base from "@/layouts/Base.astro";
import Section from "@/components/Section.vue";
import CareerCard from "@/components/CareerCard.vue";
import { AppConfig } from "@/utils/AppConfig.js";

import careers from "@/config/careers.js";

const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = "Career";
const title = titleBase + titleSuffix;
const description = "My professional experience and career path.";
---

<Base head={{ title, description }}>
  <Section
    title="Career Path"
    subtitle="Overview of my professional journey, including internships, contributions, and roles."
    client:load
  >
    <div class="flex flex-col gap-6">
      {careers.map((career) => (
        <CareerCard career={career} client:visible />
      ))}
    </div>
  </Section>
</Base>
