---
import Base from "@/layouts/Base.astro";
import Section from "@/components/Section.vue";
import ProjectCard from "@/components/ProjectCard.vue";
import { AppConfig } from "@/utils/AppConfig.js";

import projects from "@/config/projects.js";

const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = "Projects";
const title = titleBase + titleSuffix;
const description = "All my open source projects";
---

<Base head={{ title, description }}>
  <Section
    title="Projects"
    subtitle="The list of my open sourced projects"
    client:load
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {projects.map((project) => (
        <ProjectCard project={project} client:visible />
      ))}
    </div>
  </Section>
</Base>
